@media only screen and (min-width : 250px) {
  body {font-size: 12px;}        
  h1 {font-size: 18px;}
  h2 {font-size: 26px;}
  h3 {font-size: 18px;}
  h4 {font-size: 18px;}
  .contactItem,.contactItem a {font-size: 18px;}
  #about-start,#blog-posts,#contactArea {margin-top: 50px;}
}
@media only screen and (min-width : 500px) {
  body {font-size: 14px;}        
  h1 {font-size: 24px;}
  h2 {font-size: 48px;}
  h3 {font-size: 36px;}
  h4 {font-size: 14px;}
  h5 {font-size: 18px;}
  .contactItem,.contactItem a {font-size: 24px;}
  #about-start,#blog-posts,#contactArea {margin-top: 50px;}
}
@media only screen and (max-width : 775px) {
  body {font-size: 18px;}        
  h1 {font-size: 24px;}
  h2 {font-size: 50px;}
  h3 {font-size: 34px;}
  h4 {font-size: 14px;}
  .contactItem,.contactItem a {font-size: 32px;}
  #logo {height: 125px;}
  .navbar-header, .navbar-nav {background-color: #fff;}
  .navbar-nav {
    margin-top: 0px;
    margin-right: -15px;
    margin-bottom: 7.5px;
    margin-left: -15px;
}
}
@media only screen and (min-width : 950px) {
  body {font-size: 18px;}        
  h1 {font-size: 36px;}
  h2 {font-size: 64px;}
  h3 {font-size: 48px;}
  h4 {font-size: 24px;}
  .contactItem,.contactItem a {font-size: 36px;}
}